html {
    height: 100%;
    font-family: sans-serif;
    color: white;
}

body {
    margin: 0;
    padding: 100px 300px;
    overflow-x: hidden;
    background-color: black;
}

header {
    display: flex;
    width: 100%;
    height: 65px;
    padding: 7px 50px;
}

#logo {
    position: relative;
    bottom: 15px;
    display: block;
}

#logo img {
    width: 70px;
    height: 70px;
}

main {
    background-color: rgba(68, 66, 61, 150);
    height: 100%;
    border-radius: 10px;
    padding: 20px 30px;
}
ul {
    position: relative;
    top: 40%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.explore {
    position: relative;
    height: 100%;
    margin-left: 50px;
}

.explore h2 {
    position: absolute;
    bottom: 50px;
    left: 10px;
    display: block;
    color: black;
    margin: 0;
}

.explore ul .element {
    display: inline-block;
}

.drop-menu {
    display: none;
    background-color: #363532;
    position: absolute;
    top: 30px;
    right: -10px;
    border-radius: 4px;
    box-shadow: 10px 5px 5px black;
}

.drop-menu:hover {
    display: block;
}

.element {
    position: relative;
    text-shadow: 1px 1px 2px black;
}

.drop-menu a {
    display: block;
    padding: 10px;
    color: rgb(240, 240, 240);
    text-decoration: none;
}

.drop-menu a:hover {
    background-color: rgba(68, 66, 61, 100);
    border-radius: 5px;

}

.drop-menu li {
    display: block;
    padding: 5px 15px;
    text-align: center;
}

.element:hover span + .drop-menu {
    display: block;
}

.element:hover {
    color: gray;
    cursor: pointer;
}

.element span {
    padding: 15px 10px;
}

.element::after {
    position: relative;
    top: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("img/down.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    content: "";
}

.element:hover::after {
    background-image: url("img/up.png");
}

.title {
    padding: 10px;
    border-bottom: 2px solid white;
    overflow: auto;
    border-radius: 5px;
}

.list img {
    width: 30%;
    border: 2px solid black;
    border-radius: 3px;
}

.list li {
    padding: 10px;
    border: 0px solid white;
    border-radius: 24px;
    transition: 0.1s;
}

.list li:hover {
    border: 2px solid white;
    border-radius: 24px;
    transition: 0.1s;
}

footer {
    background-color: #282624;
    border-radius: 5px;
    padding: 10px;
}

footer h2 {
    display: block;
    margin: 0;
    padding: 25px 20px;
}

footer li:hover {
    position: relative;
    bottom: 10px;
    transition: 0.5s;
}

footer li {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 100px;
    text-align: center;
    border-radius: 25px;
    margin-left: 150px;
    bottom: 0;
    transition: 0.5s;
}

footer img {
    position: relative;
    top: 10%;
    width: 33%;
}

.steam {
    background: linear-gradient(45deg, black, #252850);
}

.discord {
    background: linear-gradient(45deg, black, #444fb9);
}

.vk {
    background: linear-gradient(45deg, black, #0077ff);
}